name: Build Builder - Main
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron: "0 6 * * *"
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository_owner }}/bouhaa-os
permissions:
  contents: write
  pull-requests: write
  packages: write

jobs:
  build:
    name: Build Builder image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            PKG_INSTALL="$(grep '^+' packages | sed 's/^+//' | tr '\n' ' ')"
            PKG_REMOVE="$(grep '^-' packages | sed 's/^-//' | tr '\n' ' ')"
